* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.calendar {
    width: 500px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header button {
    font-size: 30px;
    border: none; /* 테두리? */
    background: none;
    cursor: pointer;  /* 얜 뭐지 */
}

.week,
.days {
    display: grid;  /* 표 만드는거? */
    grid-template-columns: repeat(7, 1fr);
}

.week div {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.day {
    height: 60px;
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.day:hover {
    background-color: #f2f2f2;
}

/* 영어 공부 많이 되겠는데.. */